

.center {
  text-align:center;
}

.reset-margin { /*Removes margin from navbar to connect to header row */
  margin-top:0;
  margin-bottom:0;
}

.nav-tabs li { /* removes float from li in navbar, enables centering in next rule */
    float:none;
    display:inline-block;
}

.nav-tabs { /*Centers and colors navbar*/
    text-align:center;
    background-color:lightgray;
}

/*.row-margin {
  margin-top: 20px;
}*/

.header{ /*fixes header, z-index to keep on top of other elements */
  position:fixed;

  width:100%;
  z-index:1;
}

.content-offset { /*offsets content from fixed header (demonstrates box model)*/
  margin-top:250px;
}

:target:before { /* offsets anchor links for fixed header */
content:"";
display:block;
height:300px; /* fixed header height*/
margin:-300px 0 0; /* negative fixed header height */
}

.image-paragraph {
  float:left;
  margin-right: 5px;
  height: 50%;
}

/*.project-panel-height {
  height: 425px;
}*/

.highlight {
  color:red;
}

.language-nav img{ /*gives the various programming language icons in the header a little breathing room */
  height: 50px;
  margin-left: 40px;
}

.panel-body img { /* adds effect to panel images, demonstrates cascading */
  border-radius: 20%;
  margin: 0 auto;
}

.content-container { /*Keeps images from strething badly */
max-width: 1280px;
margin: 0 auto;
}
