.center {
  text-align:center;
}

.reset-margin {
  margin-top:0;
  margin-bottom:0;
}

.nav-tabs li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

.row-margin {
  margin-top: 20px;
}

.image-paragraph {
  float:left;
  margin-right: 5px;
}

.project-panel-height {
  height: 425px;
}
